@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --font-color: rgb(33, 33, 36);
  --background-color: #e3dafe;
  --accent-color: #8361e8;

  /* --seed-scale-color-purple-0: #f6f4fe;
  --seed-scale-color-purple-100: #e3dafe;
  --seed-scale-color-purple-200: #d5c7ff;
  --seed-scale-color-purple-300: #cfbfff;
  --seed-scale-color-purple-400: #b69eff;
  --seed-scale-color-purple-500: #9675fa;
  --seed-scale-color-purple-600: #8361e8;
  --seed-scale-color-purple-700: #6748c7;
  --seed-scale-color-purple-800: #4f3699;
  --seed-scale-color-purple-900: #3f2687;
  --seed-scale-color-purple-950: #331e70; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  color: var(--font-color);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
